In [1]:
from module_3 import *

In [2]:
experiments = {
                # RSI-BREAKOUT 10-40
                'Test-1':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April  
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-2':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-3':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        10, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 10-30
                'Test-4':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-5':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-6':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        10, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-40
                'Test-7':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-8':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-9':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        20, # Breakout Window
                        40, # RSI Window
                        3, # month jump
                        15,# future jump
                        ],
                # RSI - BREAKOUT 20-30
                'Test-10':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        1, # month jump
                        13,# future jump
                        ],
                'Test-11':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        2, # month jump
                        14,# future jump
                        ],
                'Test-12':
                        [
                        pd.date_range(start='2017-04-01',end='2019-04-01',freq='M'), # we are in 2018 April 
                        'Dec 2017', # Year_1
                        'Mar 2018', # year_2
                        20, # Breakout Window
                        30, # RSI Window
                        3, # month jump
                        15,# future jump
                        ]
                }

In [3]:
# We are at April-end 2021
# Total Window = 50
# Churn Frequency = 1 month

# Creating an Master Empty Dataframe
master_result = pd.DataFrame() 
for test in experiments: # For every test in experiments
    print(test)
    start_list = experiments[test][0]     # Assigning parameters from dictionary
    m = 100000
    year_1 = experiments[test][1]     # Assigning parameters from dictionary
    year_2 = experiments[test][2]     # Assigning parameters from dictionay
    breakout_window = experiments[test][3] #  Assigning parameters from dictionay
    RSI_divergence_window=experiments[test][4] # Assigning parameters from dictionay
    
    # Creatining an empty list to later add it in experiment results
    ports = [] # portfolios returns
    start_date = [] # start date
    end_date = [] # end date
    future_start_date =[] # future start date..when to start investing 
    future_end_date = [] # future end date..uptill when to invest 
    RSI_lists = [] # how many passed technical filters
    fundemental_lists = [] # # how many companies passed fundamental filter
    for i in range(0,len(start_list),experiments[test][5]): 
        try:
            # Assigning dates
            start = start_list[i] 
            end = start_list[i+12]
            future_start = start_list[i+12]
            future_end= start_list[i+experiments[test][6]]
            print('Start:',start)
            print("End:",end)
            print("Future Start",future_start)
            print("Future End",future_end)
            
            # Running the simulations
            port,RSI_list,fundemental_list = main(start,end,future_start,future_end,m,year_1,year_2,breakout_window=breakout_window,RSI_divergence_window=RSI_divergence_window)
            
            # appending the results
            RSI_lists.append(RSI_list)
            fundemental_lists.append(fundemental_list)
            ports.append(port)
            start_date.append(start)
            end_date.append(end)
            future_start_date.append(future_start)
            future_end_date.append(future_end)
            print("-------------------------------")
        except:
            None
    # adding columns to results dataframe
    result = pd.DataFrame()
    result['Date'] = future_start_date
    result['Test'] = test
    result['Investment Period (Months)'] = experiments[test][5]
    result['RSI Window'] = experiments[test][4]
    result['Breakout window'] = experiments[test][3]
    result['Investment Value'] = 100000
    result['Technical Filter Passed'] = RSI_lists
    result['Fundamental Filter Passed'] = fundemental_lists
    result['Exit Value'] = ports
    display(result)
    
    # Appending it to master dataframe
    master_result= pd.concat([master_result,result])

Test-1
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-05-31 00:00:00
Total companies which shows RSI Divergence 45
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
96050.03195453339
-------------------------------
Start: 2017-05-31 00:00:00
End: 2018-05-31 00:00:00
Future Start 2018-05-31 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 22
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 70
Total Companies which passed fundamental filter 6
Total Companies went into HRP model 6
103681.79786855051
-------------------------------
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-09-30 00:00:00
Total companies which shows RSI Divergence 53
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
89110.290611082
-------------------------------
Start: 2017-09-30 00:00:00
End: 2018-09-30 00:00:00
Future Start 2018-09-30 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-11-30 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
104896.39347744448
-------------------------------
Start: 2017-11-30 00:00:00
End: 2018-11-30 00:00:00
Future Start 2018-11-30 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 50
Total Companies which passed fundamental filter 12
Total Companies went into HRP model 12
103911.7685986858
-------------------------------
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
99973.58075743113
-------------------------------
Start: 2018-01-31 00:00:00
End: 2019-01-31 00:00:00
Future Start 2019-01-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-02-28 00:00:00
End: 2019-02-28 00:00:00
Future Start 2019-02-28 00:00:00
Future End 2019-03-31 00:00:00
Total companies which shows RSI Divergence 24
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-1,1,40,10,100000,45,4,96050.031955
1,2018-05-31,Test-1,1,40,10,100000,22,0,100000.000000
2,2018-06-30,Test-1,1,40,10,100000,7,1,100000.000000
3,2018-07-31,Test-1,1,40,10,100000,70,6,103681.797869
4,2018-08-31,Test-1,1,40,10,100000,53,5,89110.290611
5,2018-09-30,Test-1,1,40,10,100000,2,0,100000.000000
6,2018-10-31,Test-1,1,40,10,100000,14,2,104896.393477
7,2018-11-30,Test-1,1,40,10,100000,50,12,103911.768599
8,2018-12-31,Test-1,1,40,10,100000,17,4,99973.580757
9,2019-01-31,Test-1,1,40,10,100000,6,0,100000.000000
10,2019-02-28,Test-1,1,40,10,100000,24,1,100000.000000

Test-2
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 45
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
93678.8818288326
-------------------------------
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 53
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
90983.33960016027
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
111459.08330141287
-------------------------------
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
98439.78936758029
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-2,2,40,10,100000,45,4,93678.881829
1,2018-06-30,Test-2,2,40,10,100000,7,1,100000.000000
2,2018-08-31,Test-2,2,40,10,100000,53,5,90983.339600
3,2018-10-31,Test-2,2,40,10,100000,14,2,111459.083301
4,2018-12-31,Test-2,2,40,10,100000,17,4,98439.789368

Test-3
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 45
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
93019.44066660748
-------------------------------
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 70
Total Companies which passed fundamental filter 6
Total Companies went into HRP model 6
85376.12991430637
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 14
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
93448.13122576881
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-3,3,40,10,100000,45,4,93019.440667
1,2018-07-31,Test-3,3,40,10,100000,70,6,85376.129914
2,2018-10-31,Test-3,3,40,10,100000,14,2,93448.131226

Test-4
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-05-31 00:00:00
Total companies which shows RSI Divergence 46
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
100706.70477951711
-------------------------------
Start: 2017-05-31 00:00:00
End: 2018-05-31 00:00:00
Future Start 2018-05-31 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 6
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
111543.63430085362
-------------------------------
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 41
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
105518.22313869177
-------------------------------
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-09-30 00:00:00
Total companies which shows RSI Divergence 36
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
87463.71989657261
-------------------------------
Start: 2017-09-30 00:00:00
End: 2018-09-30 00:00:00
Future Start 2018-09-30 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 2
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-11-30 00:00:00
Total companies which shows RSI Divergence 21
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
97718.53875470167
-------------------------------
Start: 2017-11-30 00:00:00
End: 2018-11-30 00:00:00
Future Start 2018-11-30 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 32
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
110543.04820289976
-------------------------------
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-01-31 00:00:00
End: 2019-01-31 00:00:00
Future Start 2019-01-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-02-28 00:00:00
End: 2019-02-28 00:00:00
Future Start 2019-02-28 00:00:00
Future End 2019-03-31 00:00:00
Total companies which shows RSI Divergence 37
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
104900.0724845149
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-4,1,30,10,100000,46,4,100706.704780
1,2018-05-31,Test-4,1,30,10,100000,6,1,100000.000000
2,2018-06-30,Test-4,1,30,10,100000,13,2,111543.634301
3,2018-07-31,Test-4,1,30,10,100000,41,4,105518.223139
4,2018-08-31,Test-4,1,30,10,100000,36,5,87463.719897
5,2018-09-30,Test-4,1,30,10,100000,2,0,100000.000000
6,2018-10-31,Test-4,1,30,10,100000,21,4,97718.538755
7,2018-11-30,Test-4,1,30,10,100000,32,4,110543.048203
8,2018-12-31,Test-4,1,30,10,100000,12,0,100000.000000
9,2019-01-31,Test-4,1,30,10,100000,3,0,100000.000000
10,2019-02-28,Test-4,1,30,10,100000,37,2,104900.072485

Test-5
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 46
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
101121.78727575782
-------------------------------
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 2
Total Companies went into HRP model 2
117424.01199587011
-------------------------------
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 36
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
89058.57434977258
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 21
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
99837.27676920133
-------------------------------
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-5,2,30,10,100000,46,4,101121.787276
1,2018-06-30,Test-5,2,30,10,100000,13,2,117424.011996
2,2018-08-31,Test-5,2,30,10,100000,36,5,89058.574350
3,2018-10-31,Test-5,2,30,10,100000,21,4,99837.276769
4,2018-12-31,Test-5,2,30,10,100000,12,0,100000.000000

Test-6
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 46
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
105650.4640258478
-------------------------------
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 41
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
89555.69213629741
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 21
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
90851.60686522804
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-6,3,30,10,100000,46,4,105650.464026
1,2018-07-31,Test-6,3,30,10,100000,41,4,89555.692136
2,2018-10-31,Test-6,3,30,10,100000,21,4,90851.606865

Test-7
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-05-31 00:00:00
Total companies which shows RSI Divergence 83
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
93829.6525607503
-------------------------------
Start: 2017-05-31 00:00:00
End: 2018-05-31 00:00:00
Future Start 2018-05-31 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 63
Total Companies which passed fundamental filter 12
Total Companies went into HRP model 12
100381.82742627503
-------------------------------
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-09-30 00:00:00
Total companies which shows RSI Divergence 27
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
84141.91863849676
-------------------------------
Start: 2017-09-30 00:00:00
End: 2018-09-30 00:00:00
Future Start 2018-09-30 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 3
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-11-30 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-11-30 00:00:00
End: 2018-11-30 00:00:00
Future Start 2018-11-30 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 41
Total Companies which passed fundamental filter 10
Total Companies went into HRP model 10
101734.00208436885
-------------------------------
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 57
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
97497.32247240124
-------------------------------
Start: 2018-01-31 00:00:00
End: 2019-01-31 00:00:00
Future Start 2019-01-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 15
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-02-28 00:00:00
End: 2019-02-28 00:00:00
Future Start 2019-02-28 00:00:00
Future End 2019-03-31 00:00:00
Total companies which shows RSI Divergence 16
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-7,1,40,20,100000,83,5,93829.652561
1,2018-05-31,Test-7,1,40,20,100000,12,1,100000.000000
2,2018-07-31,Test-7,1,40,20,100000,63,12,100381.827426
3,2018-08-31,Test-7,1,40,20,100000,27,4,84141.918638
4,2018-09-30,Test-7,1,40,20,100000,3,0,100000.000000
5,2018-10-31,Test-7,1,40,20,100000,5,1,100000.000000
6,2018-11-30,Test-7,1,40,20,100000,41,10,101734.002084
7,2018-12-31,Test-7,1,40,20,100000,57,9,97497.322472
8,2019-01-31,Test-7,1,40,20,100000,15,1,100000.000000
9,2019-02-28,Test-7,1,40,20,100000,16,0,100000.000000

Test-8
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 83
Total Companies which passed fundamental filter 5
Total Companies went into HRP model 5
92777.05157319986
-------------------------------
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 0
RSI NOT FOUND
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 27
Total Companies which passed fundamental filter 4
Total Companies went into HRP model 4
88171.8776150399
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 57
Total Companies which passed fundamental filter 9
Total Companies went into HRP model 9
100323.10882583202
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-8,2,40,20,100000,83,5,92777.051573
1,2018-08-31,Test-8,2,40,20,100000,27,4,88171.877615
2,2018-10-31,Test-8,2,40,20,100000,5,1,100000.000000
3,2018-12-31,Test-8,2,40,20,100000,57,9,100323.108826

Test-9
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 83
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 63
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-10-31,Test-9,3,40,20,100000,5,1,100000

Test-10
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-05-31 00:00:00
Total companies which shows RSI Divergence 58
Start: 2017-05-31 00:00:00
End: 2018-05-31 00:00:00
Future Start 2018-05-31 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 5
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 53
Total Companies which passed fundamental filter 7
Total Companies went into HRP model 7
103937.97522187966
-------------------------------
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-09-30 00:00:00
Total companies which shows RSI Divergence 41
Start: 2017-09-30 00:00:00
End: 2018-09-30 00:00:00
Future Start 2018-09-30 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 1
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-11-30 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-11-30 00:00:00
End: 2018-11-30 00:00:00
Future Start 2018-11-30 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 78
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
98494.24797309545
-------------------------------
Start: 2018-01-31 00:00:00
End: 2019-01-31 00:00:00
Future Start 2019-01-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 9
Total Companies which passed fundamental filter 1
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2018-02-28 00:00:00
End: 2019-02-28 00:00:00
Future Start 2019-02-28 00:00:00
Future End 2019-03-31 00:00:00
Total companies which shows RSI Divergence 12
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-05-31,Test-10,1,30,20,100000,5,0,100000.000000
1,2018-06-30,Test-10,1,30,20,100000,7,0,100000.000000
2,2018-07-31,Test-10,1,30,20,100000,53,7,103937.975222
3,2018-09-30,Test-10,1,30,20,100000,1,0,100000.000000
4,2018-10-31,Test-10,1,30,20,100000,13,0,100000.000000
5,2018-12-31,Test-10,1,30,20,100000,17,3,98494.247973
6,2019-01-31,Test-10,1,30,20,100000,9,1,100000.000000
7,2019-02-28,Test-10,1,30,20,100000,12,0,100000.000000

Test-11
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-06-30 00:00:00
Total companies which shows RSI Divergence 58
Start: 2017-06-30 00:00:00
End: 2018-06-30 00:00:00
Future Start 2018-06-30 00:00:00
Future End 2018-08-31 00:00:00
Total companies which shows RSI Divergence 7
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-08-31 00:00:00
End: 2018-08-31 00:00:00
Future Start 2018-08-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 41
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2018-12-31 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------
Start: 2017-12-31 00:00:00
End: 2018-12-31 00:00:00
Future Start 2018-12-31 00:00:00
Future End 2019-02-28 00:00:00
Total companies which shows RSI Divergence 17
Total Companies which passed fundamental filter 3
Total Companies went into HRP model 3
99955.43628447485
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-06-30,Test-11,2,30,20,100000,7,0,100000.000000
1,2018-10-31,Test-11,2,30,20,100000,13,0,100000.000000
2,2018-12-31,Test-11,2,30,20,100000,17,3,99955.436284

Test-12
Start: 2017-04-30 00:00:00
End: 2018-04-30 00:00:00
Future Start 2018-04-30 00:00:00
Future End 2018-07-31 00:00:00
Total companies which shows RSI Divergence 58
Start: 2017-07-31 00:00:00
End: 2018-07-31 00:00:00
Future Start 2018-07-31 00:00:00
Future End 2018-10-31 00:00:00
Total companies which shows RSI Divergence 53
Start: 2017-10-31 00:00:00
End: 2018-10-31 00:00:00
Future Start 2018-10-31 00:00:00
Future End 2019-01-31 00:00:00
Total companies which shows RSI Divergence 13
Total Companies which passed fundamental filter 0
Only 1 Company Found
Total Companies went into HRP model 0
Only 1 Company Found
-------------------------------

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-10-31,Test-12,3,30,20,100000,13,0,100000

In [4]:
master_result

,Date,Test,Investment Period (Months),RSI Window,Breakout window,Investment Value,Technical Filter Passed,Fundamental Filter Passed,Exit Value
0,2018-04-30,Test-1,1,40,10,100000,45,4,96050.031955
1,2018-05-31,Test-1,1,40,10,100000,22,0,100000.000000
2,2018-06-30,Test-1,1,40,10,100000,7,1,100000.000000
3,2018-07-31,Test-1,1,40,10,100000,70,6,103681.797869
4,2018-08-31,Test-1,1,40,10,100000,53,5,89110.290611
...,...,...,...,...,...,...,...,...,...
7,2019-02-28,Test-10,1,30,20,100000,12,0,100000.000000
0,2018-06-30,Test-11,2,30,20,100000,7,0,100000.000000
1,2018-10-31,Test-11,2,30,20,100000,13,0,100000.000000
2,2018-12-31,Test-11,2,30,20,100000,17,3,99955.436284
0,2018-10-31,Test-12,3,30,20,100000,13,0,100000.000000

In [5]:
test_result = master_result[master_result['Test']=='Test-1']
test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
test_result

test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
test_return 

report = pd.DataFrame()
report_rsi_list = []
report_breakout_list = []
report_month = []
for test in experiments:
    report_breakout_list.append(experiments[test][3])
    report_rsi_list.append(experiments[test][4])
    report_month.append(experiments[test][5])

report['RSI Window'] = report_rsi_list
report['Breakout Window'] = report_breakout_list
report['Investment Period'] = report_month
    
test_return_list = []
for test in experiments:
    test_result = master_result[master_result['Test']==test]
    test_result['Returns'] = test_result['Exit Value']/test_result['Investment Value']
    test_result
    test_return = round((np.product(test_result['Returns']) - 1) * 100,2)
    test_return_list.append(test_return)
    
# Adding a Returns column
report['Returns (%)'] =  test_return_list

# Changing the index name to test names
report.set_axis(experiments.keys(),inplace=True)
report

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        -3.30
Test-2           40               10                  2        -6.48
Test-3           40               10                  3       -25.79
Test-4           30               10                  1        17.47
Test-5           30               10                  2         5.58
Test-6           30               10                  3       -14.04
Test-7           40               20                  1       -21.39
Test-8           40               20                  2       -17.93
Test-9           40               20                  3         0.00
Test-10          30               20                  1         2.37
Test-11          30               20                  2        -0.04
Test-12          30               20                  3         0.00

In [6]:
report[report['Investment Period']==1]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-1           40               10                  1        -3.30
Test-4           30               10                  1        17.47
Test-7           40               20                  1       -21.39
Test-10          30               20                  1         2.37

In [7]:
report[report['Investment Period']==2]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-2           40               10                  2        -6.48
Test-5           30               10                  2         5.58
Test-8           40               20                  2       -17.93
Test-11          30               20                  2        -0.04

In [8]:
report[report['Investment Period']==3]

         RSI Window  Breakout Window  Investment Period  Returns (%)
Test-3           40               10                  3       -25.79
Test-6           30               10                  3       -14.04
Test-9           40               20                  3         0.00
Test-12          30               20                  3         0.00

In [9]:
master_result.to_csv('Experiment 2018-2019 Master Result.csv')
report.to_csv('Experiment 2018-2019 Report.csv')