In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import date, timedelta
import datetime
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [4]:
dataset_1 = yf.download('RELIANCE.NS INFY.NS HDFCBANK.NS ICICIBANK.NS HDFC.NS TCS.NS KOTAKBANK.NS LT.NS HINDUNILVR.NS AXISBANK.NS ITC.NS BAJFINANCE.NS SBIN.NS BHARTIARTL.NS ASIANPAINT.NS HCLTECH.NS MARUTI.NS TITAN.NS TATASTEEL.NS BAJAJFINSV.NS', start='2016-01-01', end='2021-12-31', progress=False)

In [5]:
dataset_1 = dataset_1['Close']

In [6]:
### Function to get the Linear Regression Slopes
def regr(x,y):
    regr1 = LinearRegression()
    regr1.fit(x,y)
    return regr1.coef_

# Function to get the Slope of the dataset

In [7]:
def get_Slope(dataset, n1):
    regr2 = []
    y_hat = dataset[-n1:]
    y_hat = y_hat.reset_index()
    x = np.array(y_hat.index).reshape(-1, 1)
    for i in y_hat.columns[1:]:
        y = y_hat[i]
        regr2.append(regr(x,y))
    return pd.DataFrame(regr2, index = y_hat.columns[1:], columns = ['Slope of the Stocks'])

In [8]:
get_Slope(dataset_1,30)

               Slope of the Stocks
ASIANPAINT.NS             6.933368
AXISBANK.NS              -0.147164
BAJAJFINSV.NS           -58.049151
BAJFINANCE.NS           -12.414324
BHARTIARTL.NS            -3.015406
HCLTECH.NS                5.760368
HDFC.NS                 -12.523847
HDFCBANK.NS              -2.951124
HINDUNILVR.NS            -3.218297
ICICIBANK.NS             -0.378310
INFY.NS                   5.968620
ITC.NS                   -0.513437
KOTAKBANK.NS            -10.426940
LT.NS                     1.848464
MARUTI.NS               -10.262347
RELIANCE.NS              -2.594717
SBIN.NS                  -1.201957
TATASTEEL.NS             -1.357944
TCS.NS                    8.211270
TITAN.NS                 -1.772426

In [9]:
def SMA_dataset_function(dataset,n=5):
    return dataset.rolling(5).mean().dropna()
SMA_dataset = SMA_dataset_function(dataset_1)
# SMA_dataset

In [10]:
def RSI_dataset_function(dataset,n2=14):
    for i in dataset:
        a = dataset[i]
        change = a.diff().dropna()
        change
        change_up = change.clip(lower=0)
        change_down = (-1 * change.clip(upper=0)).abs()
        change_up,change_down
        avg_up = change_up.rolling(n2).mean()
        avg_down = change_down.rolling(n2).mean().abs()
        rs = avg_up/avg_down   # calculating rs
        rsi = 100-(100/(1+rs))  # calculating RSI
        dataset[i] = rsi
    return dataset.dropna()
RSI_dataset = RSI_dataset_function(dataset_1)
RSI_dataset

,ASIANPAINT.NS,AXISBANK.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,HCLTECH.NS,HDFC.NS,HDFCBANK.NS,HINDUNILVR.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,MARUTI.NS,RELIANCE.NS,SBIN.NS,TATASTEEL.NS,TCS.NS,TITAN.NS
Date,,,,,,,,,,,,,,,,,,,,
2016-01-21,37.056626,35.503378,33.389878,38.028693,21.584690,44.064967,18.375964,27.034622,21.902135,19.211402,57.220713,24.393199,14.030294,16.553107,10.974080,45.151754,8.571441,37.821236,24.536064,40.378214
2016-01-22,46.521333,45.053800,42.187863,42.339217,22.876434,46.405573,34.420964,34.795819,19.972561,30.546086,64.731543,30.133641,37.979461,30.047371,28.614475,51.377853,22.187992,45.503952,38.178332,46.082492
2016-01-25,42.383409,44.635486,47.618514,45.262568,23.867044,47.737320,41.113371,42.126732,27.927623,33.004124,66.631765,31.407935,35.485606,27.134390,28.362007,49.807376,22.641516,39.328935,42.631404,56.534355
2016-01-27,40.750576,44.727768,45.177183,44.188516,24.948694,47.062011,40.179666,38.416255,26.059268,38.447648,68.454749,46.958979,34.639815,28.379966,32.708288,44.317598,24.707716,43.668371,39.074363,51.598565
2016-01-28,45.105933,48.650672,44.532859,39.839393,21.838062,61.570503,41.774790,40.489161,40.981013,37.934107,72.172140,62.623432,34.861382,28.111516,40.455761,50.634451,28.942815,52.961434,42.952661,46.001599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,79.457464,51.589604,35.821938,47.674663,40.543041,81.601578,24.916999,34.108698,48.103266,56.531441,79.446785,50.103099,31.652367,62.207726,62.210055,51.168380,46.063189,51.322838,66.774740,49.345114
2021-12-27,78.621231,43.768371,33.435615,44.774141,39.374443,80.540408,20.777311,30.715777,45.810820,50.571297,78.411191,46.645034,26.337066,61.138364,55.109738,48.618377,40.261078,43.798804,64.761899,43.893366
2021-12-28,79.477844,40.364950,23.625612,37.292919,31.851069,79.994679,15.221855,23.594527,43.146208,41.164643,76.710983,44.481992,27.990319,61.929168,41.034528,47.607456,31.945283,38.563879,61.508456,46.989228
2021-12-29,75.434557,39.728430,27.587537,34.596005,31.205658,82.097309,15.566263,26.617531,42.884960,40.163109,74.979572,24.966472,27.442538,52.872671,45.552097,42.853364,30.528712,35.326874,63.966904,53.479724
2021-12-30,65.381022,41.264787,24.042726,33.334294,33.996921,86.703042,16.996605,30.856047,48.518527,38.275510,76.989907,23.056305,28.337406,52.323370,41.757678,38.066226,24.586281,31.930454,64.394913,61.715099

In [12]:
get_Slope(RSI_dataset,30)

               Slope of the Stocks
ASIANPAINT.NS             0.755552
AXISBANK.NS               1.651973
BAJAJFINSV.NS            -0.559005
BAJFINANCE.NS             0.228057
BHARTIARTL.NS            -1.397123
HCLTECH.NS                1.856490
HDFC.NS                  -0.839892
HDFCBANK.NS               0.175488
HINDUNILVR.NS             0.131814
ICICIBANK.NS              1.256932
INFY.NS                   0.860309
ITC.NS                   -0.559985
KOTAKBANK.NS             -0.600350
LT.NS                     0.755724
MARUTI.NS                 0.076728
RELIANCE.NS               0.264861
SBIN.NS                   0.231381
TATASTEEL.NS              1.193228
TCS.NS                    0.411752
TITAN.NS                  0.273382